<div style="height: 20px;"></div>
<div class="container">

  <h4 class="red-text darken-4">VACANCIES:</h4>
</div>
<div style="height: 20px;"></div>


<div class="container">


  <ul class="collection">
    {{#each onePage}}
    <li class="collection-item">

      <a href="#" class="right" onclick="M.toast({html: 'added'})"><i class="material-icons">star</i></a>
      <h5>{{offer}}</h5>

      <a class="btn modal-trigger additional" id={{href}} method="post" action="/info" href="#details">DETAILS</a>

      <div class="modal" id="details">
        <div class="modal-content">
          <h6>Описание</h6>
          <p id="desc"></p>
          <h6>Опыт</h6>
          <p id="exp"></p>
          <h6>Место</h6>
          <p id="loc"></p>
          <a href={{href}}>details on hh.ru</a>
        </div>
      </div>
    </li>
    {{/each}}
    {{!-- <li class="collection-item">


            <a href="#">vacation title</a>
            <a href="#" class="right"><i class="material-icons">star</i></a>
            <p>description</p>

    </li> --}}


    </ul>

</div>
<div style="height: 20px;"></div>
<div class="container">

  <ul class="pagination center">
    {{#if prev}}
    <li class="waves-effect"><a href="/api/vacancy/?page={{prev}}"><i class="material-icons">chevron_left</i></a></li>
    {{else}}
    <li class="waves-effect"><a class="btn disabled" href=""><i class="material-icons">chevron_left</i></a></li>
    {{/if}}
    {{#each pages}}
    <li class="waves-effect" id="el{{num}}"><a href="/api/vacancy/?page={{num}}">{{num}}</a></li>
    {{/each}}
    {{#if next}}
    <li class="waves-effect"><a href="/api/vacancy/?page={{next}}"><i class="material-icons">chevron_right</i></a></li>
    {{else}}
    <li class="waves-effect"><a href="" class="btn disabled"><i class="material-icons">chevron_right</i></a></li>
    {{/if}}
  </ul>

</div>
<div style="height: 50px;"></div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {

  // Init Modal
  $('.modal').modal()


});

const uList = document.querySelector('.pagination');
const ind = document.location.href.charAt(document.location.href.length - 1)
const activeBtn = document.querySelector(`#el${ind}`);
activeBtn.classList.add('active')


const btn = document.querySelectorAll('.additional')
const desc = document.querySelector('#desc');
  const exp = document.querySelector('#exp');
  const loc = document.querySelector('#loc');

btn.forEach(b => b.addEventListener('click', async (e) => {
  e.preventDefault();
  desc.innerHTML = '';
  exp.innerHTML = '';
  loc.innerHTML = '';
  
  const { id } = e.target;
  
  const response = await fetch(`/info`, {
    method: 'post',
    headers: { 'Content-Type': 'Application/json' },
    body: JSON.stringify({ id })
  });

  const result = await response.json();
  desc.innerHTML = result.description;
  exp.innerHTML = result.experience;
  loc.innerHTML = result.location;
}))

  

</script>
{{!-- <script src="../public/js/details.js"></script> --}}
